html, body {
  position: absolute;
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
/*  box-sizing: border-box;*/
}

*, body{
  font-family: "Arial", Arial, sans-serif;
}

body {
  background-color: #eee;
}

#main_wrapper {
  margin: 0px auto;
  width: 1000px;
  background-color: white;
  height: auto;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.input_form {
  margin-bottom: 15px;
}

#content {
  margin: 20px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
/*  overflow: hidden;*/
  overflow: auto;
  background-color: #333333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #111111;
}

td, th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px;
}

td div#edit div.zmena, div.zmena_stavu {
  font-size: 0.7em;
  float: right;
/*  margin: 5px;*/
  margin-left: 5px;
  padding: 1px;
}

td {
  text-align: left;
}

thead tr {
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.input_container {
  width: 500px;
  clear: both;
}

.input_container input, select {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  margin-top: 5px;
}

input.poznamka {
  border:0px;
  font-size: 1em;
}

span.edit {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a {
  color: black;
}

input {
  margin-right: 5px;
}

label.error {
  display: block;
  color: red;
  margin-bottom: 10px;
}

#edit {
  display: inline;
  margin-top: 15px;
  margin-bottom: 5px;
/*  float:right;
  margin-right: 5px;
*/
}

#edit .zmena, .zmena_stavu {
  background-color: #eee;
  padding: 5px;
  margin-right: 5px;
  display: inline;
  cursor: pointer;
  border: 1px solid grey;
}

#edit .zmena:hover, .zmena_stavu:hover {
  background-color: #ddd;
}

#search_box {
  margin-top: 15px;
  border: 1px dotted grey;
  margin-bottom: 10px;
  padding: 10px;
}

div#search_box select{
  margin-bottom: 15px;
  width: 188px;
}

div#search_box input {
  display: inline;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    background-color:  #333333;
    padding: 5px
/*    margin-top: -3em;*/
}
